<a href="https://colab.research.google.com/github/Psyclophe/Data-Scientist/blob/main/Pycaret.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [25]:
import pandas as pd
import numpy as np

In [26]:
data = pd.read_csv('https://query1.finance.yahoo.com/v7/finance/download/MSFT?period1=1639173471&period2=1670709471&interval=1wk&events=history&includeAdjustedClose=true')
data.head(15)

,Date,Open,High,Low,Close,Adj Close,Volume
0,2021-12-06,334.980011,343.000000,334.790009,342.540009,339.360168,38095700
1,2021-12-13,340.679993,343.790009,317.250000,323.799988,320.794098,191504300
2,2021-12-20,320.049988,336.390015,317.570007,334.690002,331.583038,97516400
3,2021-12-27,335.459991,344.299988,335.429993,336.320007,333.197876,84645800
4,2022-01-03,335.350006,338.000000,310.089996,314.040009,311.124756,173959800
5,2022-01-10,309.489990,323.410004,303.750000,310.200012,307.320374,193260900
6,2022-01-17,304.070007,313.910004,295.609985,296.029999,293.281921,181632200
7,2022-01-24,292.200012,308.500000,276.049988,308.260010,305.398407,352234000
8,2022-01-31,308.950012,315.119995,299.959991,305.940002,303.099884,202857400
9,2022-02-07,306.170013,311.929993,294.220001,295.040009,292.301086,176801000
10,2022-02-14,293.769989,300.869995,286.309998,287.929993,285.257080,160125500
11,2022-02-21,285.000000,297.630005,271.519989,297.309998,295.159058,169083700
12,2022-02-28,294.309998,303.130005,287.170013,289.859985,287.762939,157389300
13,2022-03-07,288.529999,289.690002,270.000000,280.070007,278.043793,184358500
14,2022-03-14,280.339996,301.000000,275.820007,300.429993,298.256470,176939300

In [27]:
from pycaret.time_series import *

ModuleNotFoundError: ignored